html {
  scroll-behavior: smooth; }

textarea .form-control {
  height: 200px !important; }

body {
  background: #faefde;
  font-family: 'Lato Light', sans-serif;
  font-size:14px;
  line-height: 20px;
  color: #666666; }

html {
  scroll-behavior: smooth; }

hr{
  margin: 0;
}

.modal-title {
  float: left;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.btnline{border-top:solid 1px #e5e5e5; padding-top:20px;}

.padd{padding:0 22px;}

.termo{
  min-height: 200px;
  background: #fff!important;
}

input[type=checkbox], input[type=radio] {
margin: 4px 6px 0 0!important;}

.container{padding: 0px 95px 0px 95px;}

  
.container h5:first-child  {
  font-size: 14px;
  font-family: "lato", sans-serif!important;
  text-transform: uppercase;
  color: #1b546f;
  font-weight: bold;
}

#output{ background: none;}

pre {
    padding: 17.5px !important;
    margin: 22px 15px 10px !important;
}

h2 {
  font-weight: 600;
  margin-bottom: 30px; }


.jumbotron {
  background: url("./img/nature-water.jpg") center no-repeat;
  background-position: 0 -221px;
  color: #797878;
  padding: 88px 25px 288px 25px;
  min-height: 756px;
  margin: 0;
  font-family: Montserrat, sans-serif; }

.jumbotron h1 {
  font-family: "meriendabold"; }

.jumbotron h1 img {
  margin: auto; }

.containerOcurso{
  display: inline-block;
  max-width: 500px;
  padding: 0 96px;
}

.containerOcurso h5{
  text-transform: uppercase;
}

.containerBoxInfo {
  display: inline-block;
  width: 220px;
  min-height: auto; }

.boxInfo {
  font-family: 'Lato', sans-serif;
  background: #1b546f;
  margin-top: -39px;
  height: 235px;
  padding: 29px 36px;}

.boxInfo h4 {
  color: #2e8ebc;
  font-size: 12px;
  margin-bottom: 5px; }

.boxInfo p {
  line-height: 17px;
  font-size: 12px;
  color: #fffefe; }

.btnInscricao {
  font-family: 'Lato', sans-serif;
  background: #1b546f;
  border: 0px;
  color: #fff;
  margin: auto;
  font-size: 12px;
  margin-top: 45px;
  padding: 15px 25px;
  border-radius: 0px; }

#Concurso{
  margin-top: -92px;
  padding-top: 35px;
}

#Concurso row{
  margin-top: -92px;}

#Sobre .limit, #Regras .limit{
  padding: 60px 95px 20px 95px;}

#Regras .limit{
  padding-bottom:100px!important;
}

#Regras ul {
padding: 15px; }
#Regras ul li {
padding: 5px; }

footer {
  border-top: solid 10px #1b546f;
  background: #fff;
  margin-top: 49px;
  padding: 20px; }
  footer img {
    width: 150px; }

.modal-title {
  float: left; }

.limit {
  max-width: 820px;
  margin: auto;
}

.limit h5:first-child {margin-bottom: 44px;}

.limit hr{
 margin: 30px 95px 0 95px;
}


.bg-white {
  background-color: #fff; }

.bg-grey {
  background-color: #f6f6f6; }

.navbar .container{padding: 0 160px;}

.navbar {
  margin-bottom: 0;
  background-color: #1b546f;
  z-index: 200;
  border: 0;
  font-size: 14px !important;
  text-transform: uppercase;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0; }

  .navbar-default .navbar-nav>li>a{color:#2e8ebc!important; font-family: 'Lato Light', sans-serif;}

  .navbar li a, .navbar .navbar-brand {
    color: #fff !important; }

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #1b546f !important;
  background-color: #fff !important; }

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important; }

@media screen and (max-width: 992px) {

  #Concurso {
    margin-top: -92px; } 

    .containerBoxInfo{
      display:Block;
      margin: auto;
      margin-top: 40px;
    }

    .jumbotron {
      min-height:auto;}


    .containerOcurso {
      display:block;
      margin:auto;
      padding: 0 31px;
      padding-top:45px;
      padding-bottom: 45px;}

      .container {
        padding: 0px 31px 0px 31px;
    }

    .navbar .container{padding: 0 10px;}

  }

  

@media screen and (max-width: 768px) {
  #Concurso {
    margin-top: -92px;}

  .boxInfo {
    position: none;
    margin: 0; }

    .jumbotron {
      min-height:auto;}

  .col-sm-4 {
    text-align: center;
    margin: 25px 0; }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px; } 

  .containerBoxInfo{
    display:Block;
    margin: auto;
  }

  .containerOcurso {
    display:block;
    margin:auto;
    padding: 0 31px;
    padding-top:45px;
    padding-bottom: 45px;}

    .container {
      padding: 0px 31px;
  }

  .navbar .container{padding: 0 10px;}

  }

@media screen and (max-width: 480px) {

   #Sobre .limit, #Regras .limit{
    padding: 60px 30px 20px 30px;}

  .boxInfo {
    position: none;
    margin: 0; }

  .jumbotron {
    background-position: center center;
    padding: 50px 25px 150px 25px; 
    min-height:auto;}

    .containerBoxInfo{
      display:block;
      margin: auto;
    }

    .containerOcurso {
      display:block;
      margin:auto;
      padding: 0 31px;
      padding-top:45px;
      padding-bottom: 45px;}

      .container {
        padding: 0px 31px;
    }

    .navbar .container{padding: 0 10px;}
  

    }

   