html {
  scroll-behavior: smooth; }

textarea .form-control {
  height: 200px !important; }

body {
  background: #faefde;
  font-family: 'Lato:300', sans-serif!important;
  font-size:14px;
  line-height: 20px;
  color: #303030; }

html {
  scroll-behavior: smooth; }

hr{
  margin: 0;
}

.container{padding: 0px 95px 0px 95px;}

  
.container h5:first-child  {
  font-size: 14px;
  font-family: "latoregular";
  text-transform: uppercase;
  color: #1b546f;
  font-weight: bold;
}

pre {
    padding: 17.5px !important;
    margin: 22px 15px 10px !important;
}

h2 {
  font-weight: 600;
  margin-bottom: 30px; }


@font-face {
  font-family: "latoregular";
  src: url("./fontes/merienda/lato-regular-webfont.woff2") format("woff2"), url("./fontes/merienda/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "meriendabold";
  src: url("./fontes/merienda/merienda-bold-webfont.woff2") format("woff2"), url("./fontes/merienda/merienda-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.jumbotron {
  background: url("./img/nature-water.jpg") center no-repeat;
  color: #797878;
  padding: 112px 25px 385px 25px;
  margin: 0;
  font-family: Montserrat, sans-serif; }

.jumbotron h1 {
  font-family: "meriendabold"; }

.jumbotron h1 img {
  margin: auto; }

.containerOcurso{
  display: inline-block;
  max-width: 500px;
  padding: 0 96px;
}

.containerOcurso h5{
  text-transform: uppercase;
}

.containerBoxInfo {
  display: inline-block;
  width: 220px;
  min-height: auto; }

.boxInfo {
  background: #1b546f;
  margin-top: -39px;
  height: 235px;
  padding: 29px 36px;}

.boxInfo h4 {
  color: #2e8ebc;
  font-size: 12px;
  margin-bottom: 5px; }

.boxInfo p {
  line-height: 17px;
  font-size: 12px;
  color: #fffefe; }

.btnInscricao {
  background: #1b546f;
  border: 0px;
  color: #fff;
  margin: auto;
  font-size: 12px;
  margin-top: 45px;
  padding: 15px 25px;
  border-radius: 0px; }

#Concurso{
  margin-top: -92px;
  padding-top: 35px;
}

#Concurso row{
  margin-top: -92px;}

#Sobre .limit, #Regras .limit{
  padding: 60px 95px 20px 95px;}

#Regras .limit{
  padding-bottom:100px!important;
}

#Regras ul {
padding: 15px; }
#Regras ul li {
padding: 5px; }

footer {
  border-top: solid 10px #1b546f;
  background: #fff;
  margin-top: 49px;
  padding: 20px; }
  footer img {
    width: 150px; }

.modal-title {
  float: left; }

.limit {
  max-width: 820px;
  margin: auto;
}

.limit h5:first-child {margin-bottom: 44px; font-family: 'Lato', sans-serif;}

.limit hr{
 margin: 30px 95px 0 95px;
}


.bg-white {
  background-color: #fff; }

.bg-grey {
  background-color: #f6f6f6; }

  .navbar {
    margin-bottom: 0;
    background-color: #1b546f;
    z-index: 200;
    border: 0;
    font-size: 14px !important;
    text-transform: uppercase;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Lato, sans-serif; }
  
    .navbar-default .navbar-nav>li>a{color:#2e8ebc!important;}
  
    .navbar li a, .navbar .navbar-brand {
      color: #fff !important; }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1b546f !important;
    background-color: #fff !important; }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important; }

@media screen and (max-width: 992px) {

  #Concurso {
    margin-top: -92px; } 

    .containerBoxInfo{
      display:Block;
      margin: auto;
      margin-top: 40px;
    }

    .containerOcurso {
      display:block;
      margin:auto;
      padding: 0 31px;
      padding-top:45px;
      padding-bottom: 45px;}

      .container {
        padding: 0px 31px 0px 31px;
    }

  }

  

@media screen and (max-width: 768px) {
  #Concurso {
    margin-top: -92px;}

  .boxInfo {
    position: none;
    margin: 0; }

  .col-sm-4 {
    text-align: center;
    margin: 25px 0; }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px; } 

  .containerBoxInfo{
    display:Block;
    margin: auto;
  }

  .containerOcurso {
    display:block;
    margin:auto;
    padding: 0 31px;
    padding-top:45px;
    padding-bottom: 45px;}

    .container {
      padding: 0px 31px 0px 31px;
  }

  }

@media screen and (max-width: 480px) {

   #Sobre .limit, #Regras .limit{
    padding: 60px 30px 20px 30px;}

  .boxInfo {
    position: none;
    margin: 0; }

  .jumbotron {
    background-position: center center;
    padding: 50px 25px 150px 25px; }

    .containerBoxInfo{
      display:block;
      margin: auto;
    }

    .containerOcurso {
      display:block;
      margin:auto;
      padding: 0 31px;
      padding-top:45px;
      padding-bottom: 45px;}

      .container {
        padding: 0px 31px 0px 31px;
    }
  

    }

   